<ul>
  <hr />
  <h2>Tabela de preço</h2>
  <br>
  <table class='table table-striped' cellSpacing=0 width="100%" border=1>
    <tbody>
    <tr>
      <th align=left>Quantidade de SMS</th>
      <th align=left>Preço</th></tr>
    <tr>
      <td>De 1 à 10:</td>
      <td>R$ 1,50 por disparo</td></tr>
    <tr>
      <td>De 10 à 50</td>
      <td>R$ 1,30 por disparo</td></tr>
    <tr>
      <td>De 50 à 100</td>
      <td>R$ 1,10 por disparo</td></tr>
    <tr>
      <td>De 100 à 200</td>
      <td>R$ 0,90 por disparo</td></tr>
    <tr>
      <td>De 200 à 500</td>
      <td>R$ 0,75 por disparo</td>
    </tr>
    <tr>
      <td>Acima de 500</td>
      <td>R$ 0,50 por disparo</td>
    </tr>
  </tbody>
</table>
<br />
<hr />

</ul>

<p>Informe a quantidade de SMS que deseja calcular</p> 
<li>
    <label for="email"></label>
    <input type="text" name="email" />
</li>



<br>





